{% extends "layout.html" %}

{% block content %}
    {% set rest = 0 %}
    {% set coff = 0 %}
    {% set conv = 0 %}
    {% set gas = 0 %}
    {% set prueba = 0 %}
    {% set g_total = 0 %}
    {% set t_points = 0 %}
{% for i, receipt in enumerate(stream) %}
    {% if receipt.from_user.business_type == 1 %}
             {% set rest = rest + 1 %}
         {% elif receipt.from_user.business_type == 2 %}
             {% set coff = coff + 1 %}
         {% elif receipt.from_user.business_type == 3 %}
             {% set conv = conv + 1 %}
         {% elif receipt.from_user.business_type == 4 %}
             {% set gas = gas + 1 %}
         {% elif receipt.from_user.business_type == 100 %}
             {% set prueba = prueba + 1 %}
         {% endif %}
    {% set g_total = g_total + receipt.total %}
    {% set t_points = t_points + receipt.points %}
    {% if (i + 1) == len %}
        <div class="post">
            <h3>Restaurant: {{ rest }} Receipts</h3>
            <h3>Coffee Shop: {{ coff }} Receipts </h3>
            <h3>Convenience Store: {{ conv }} Receipts</h3>
            <h3>Gas: {{ gas }} Receipts</h3>
            <h3>Prueba: {{ prueba }} Receipts</h3>
            <h3>Total Points Awarded = {{ t_points }}</h3>
            <h3>Total = {{ '%0.2f' % g_total }} $</h3>
        </div>
    {% endif %}
{% endfor %}
{% endblock %}