{% extends "layout.html" %}

{% block content %}
{% for receipt in stream %}
    <article>
        <h2>
            <a href="{{ url_for('stream', username=receipt.user.username) }}">{{ receipt.user.username }}</a>
        </h2>
        <i class="clock"></i><time data-time="{{ receipt.timestamp }}" class="distime" datetime="{{ receipt.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}">{{ receipt.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</time>
        <div class="post">
            {{ receipt.content }}
        </div>
    </article>
{% endfor %}
{% endblock %}